version: "3.9"

services:
  app:
    build: .
    container_name: service-discovery
    ports:
      - "8761:8761"
    environment:
      SPRING_PROFILES_ACTIVE: docker
    networks:
      - carpooling_network

networks:
  carpooling_network:
    external: true
