services:

  db_server:
    image: postgres:16
    container_name: postgres_server
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: learnJava!2025
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
    networks:
      - carpooling_network

  # ==========================================
  # PORTAINER (Management UI)
  # ==========================================
  portainer:
    image: portainer/portainer-ce:latest
    deploy:
      replicas: 1
      restart_policy:
        condition: any
      placement:
        constraints:
          - node.role == manager
    ports:
      - "9000:9000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
    networks:
      - carpooling_network

networks:
  carpooling_network:
    external: true

volumes:
  pg_data:
